body{
  margin: 0;
}

#xxx{
  background: grey;
  display: block;
}

.actions{
  position: fixed;
  left: 0;
  bottom: 0;
}

.actions > #brush{
  display: none;
}

.actions.x > #brush{
  display: inline-block;
}

.actions.x > #eraser{
  display: none;
}