body{
  overflow: hidden;
}

ol,li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#xxx{
  background: white;
  display: block;
  vertical-align:top; 
  position: fixed;
  top: 0;
  left: 0;
}


.actions{
  display: flex;
  align-items: center;
  margin-right: 28px;
}


.actions svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.24s;
  margin-left: 20px;
}

.actions svg:nth-child(1){
  margin-left: 0;
}

.actions svg.active {
  color: red;
  transform: scale(1.2);
}
.colors {
  position: fixed;
  bottom: 82px;
  left: 26px;
 }

.colors > li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid #fbfbfb;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  margin: 0 16px;
  transition: all 0.24s;
  float: left;
}

 .colors > li.black{
  background: black;
}

 .colors > li.red{
   background: rgb(250, 50, 23);
 }

 .colors > li.green{
  background: rgb(9, 177, 32);
}

.colors > li.blue{
  background: rgb(0, 110, 255);
}

.colors > li:nth-child(1){
  margin-left: 0;
}

.colors > li.active{
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transform: scale(1.2);
}

.width {
  display: flex;
  align-items: center;
  margin-left: 28px;
 }

 .width > li {
   border: 1px solid black;
   background: #fbfbfb;
   border-radius: 50%;
   margin-right: 16px;
 }

.width > li.thin{
  width: 12px;
  height: 12px;
}

.width > li.middle{
  width: 18px;
  height: 18px;
}

.width > li.thick{
  width: 24px;
  height: 24px; 
}

.width > li.active{
  background: black;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #fbfbfb;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
  padding: 20px 0;
}

.clear{
  position: fixed;
  top: 20px;
  right: 28px;
}
.clear > svg{
  width: 1.5em;
  height: 1.5em;
  fill: black;
}
.save{
  position: fixed;
  top: 20px;
  left: 24px;
}
.save > svg{
  width: 1.5em;
  height: 1.5em;
  fill: black;
}